@import "../functionalSelectors.css";

.button,
.button:visited {
  @extend %resetAnchor, %resetButton;

  align-items: center;
  background-color: var(--_background, transparent);
  border-radius: var(--radius-2);
  border: var(--border-size-1) solid var(--_border, currentColor);
  color: var(--_text, var(--gray-5));
  display: inline-flex;
  font-size: var(--font-size-0);
  font-weight: var(--_font-weight, var(--font-weight-5));
  gap: 0.5rem;
  justify-content: center;
  min-block-size: var(--_block-size, 2rem);
  min-inline-size: 10ch;
  user-select: none;
  padding-inline: var(--_padding-inline, 1rem);

  &:active {
    background-color: var(--_active-background, var(--gray-2));
    border-color: var(--_active-border, currentColor);
    color: var(--_active-text, var(--gray-5));
  }

  &:disabled {
    background-color: var(--_disabled-background, var(--gray-2));
    border-color: var(--_disabled-border, currentColor);
    color: var(--_disabled-text, var(--gray-4));
  }

  &:focus-visible {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 5px 1px var(--blue-5);
  }

  &:hover {
    background-color: var(--_hover-background, var(--gray-3));
    border-color: var(--_hover-border, currentColor);
    color: var(--_hover-text, var(--gray-5));
  }

  @media screen and (--highContrast) {
    & {
      border: var(--border-size-2) solid currentColor;
    }
  }
}

.buttonGroup {
  align-items: center;
  border-radius: var(--radius-2);
  border: var(--border-size-1) solid var(--_border, currentColor);
  display: inline-flex;
  justify-content: center;

  &:hover {
    border-color: var(--_hover_border, currentColor);
  }

  &:active {
    border-color: var(--_active-border, currentColor);
  }

  &:disabled {
    border-color: var(--_disabled-border, currentColor);
  }

  /*
       * All the children are styled as buttons, the borders are unset on the
       * children - the border is rendered on the whole buttonClasses-cluster instead.
       */

  & > * {
    @extend .button;

    border: 0;
    border-radius: 0;
    padding-inline: calc(0.5 * var(--_padding-inline, 1rem));
    min-inline-size: unset;
  }

  & > *:first-child {
    border-start-start-radius: var(--radius-2);
    border-end-start-radius: var(--radius-2);
    padding-inline-start: var(--_padding-inline, 1rem);
  }

  & > *:last-child {
    border-start-end-radius: var(--radius-2);
    border-end-end-radius: var(--radius-2);
    padding-inline-end: var(--_padding-inline, 1rem);
  }

  & > *.separated {
    border-inline-start-width: var(--border-size-1);
    border-style: solid;
    border-image: linear-gradient(
        0deg,
        transparent 25%,
        var(--_separator, currentColor) 25%,
        var(--_separator, currentColor) 75%,
        transparent 75%
      )
      1 100%;
  }

  @media screen and (--highContrast) {
    & {
      border: var(--border-size-2) solid currentColor;
    }
  }
}

.variantPrimary {
  --_background: var(--brand);
  --_border: transparent;
  --_text: var(--gray-1);
  --_active-background: var(--brand);
  --_active-border: var(--brand);
  --_active-text: var(--gray-9);
  --_disabled-background: var(--gray-3);
  --_disabled-border: transparent;
  --_disabled-text: var(--gray-5);
  --_hover-background: var(--brand);
  --_hover-border: transparent;
  --_hover-text: var(--gray-1);
  --_separator: var(--gray-1);
}

.variantDanger {
  --_background: var(--red-5);
  --_border: transparent;
  --_text: var(--gray-1);
  --_active-background: var(--red-6);
  --_active-border: var(--red-9);
  --_active-text: var(--gray-1);
  --_disabled-background: var(--red-1);
  --_disabled-border: transparent;
  --_disabled-text: var(--gray-1);
  --_hover-background: var(--red-6);
  --_hover-border: transparent;
  --_hover-text: var(--gray-1);
}

.variantStealth {
  --_background: transparent;
  --_border: transparent;
  --_text: var(--text-1);
  --_active-background: var(--gray-3);
  --_active-border: var(--gray-5);
  --_active-text: var(--gray-9);
  --_disabled-background: var(--gray-2);
  --_disabled-border: transparent;
  --_disabled-text: var(--gray-4);
  --_hover-background: var(--gray-3);
  --_hover-border: transparent;
  --_hover-text: var(--gray-9);
  --_padding-inline: 0.5rem;
}

.sizeLarge {
  --_padding-inline: 1rem;
  --_block-size: 2.5rem;
}

.sizeSmall {
  --_padding-inline: 0.5rem;
  --_block-size: 1.5rem;
}

.sizeExtraSmall {
  --_padding-inline: 0.5rem;
  --_block-size: 1.25rem;
  --_font-weight: var(--font-weight-1);
}

.flat {
  border-radius: 0;
  min-inline-size: unset;
}

.icon {
  min-inline-size: unset;
  flex-direction: column;
}
