@import "../../../styles/functionalSelectors.css";
@import "../../../styles/utils.css";

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.personsList {
  @extend %resetList;

  & > li {
    border-inline-start: 2ch solid dodgerblue;
    font-size: 120%;
    padding-inline: var(--s-1);
    position: relative;

    & > *:first-child {
      @extend %resetAnchor, .breakout;

      margin-inline-start: -2ch;
      display: block;

      &::first-letter {
        color: white;
        font-weight: bold;
      }
    }

    & > *:last-child {
      font-style: italic;
    }
  }
}
