%centerSelfHorizontal {
  box-sizing: content-box;
  padding-inline: var(--centerSelf_gutters, 1rem);
  margin-inline: auto;
  max-inline-size: var(--centerSelf_measure, 60ch);
}

%centerContentHorizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%resetFieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-inline-size: 0;
}

%resetHeading {
  font-size: 100%;
  font-weight: inherit;
  margin: 0;
}

%resetLegend {
  display: table;
  padding: 0;
}

%resetList {
  list-style: none;
  padding: 0;
  margin: 0;
}

%srOnly {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

%stack {
  & > * {
    margin-block: 0;
  }
  & > * + * {
    margin-block-start: var(--_stack_space, var(--s0));
  }
}
