@import "../styles/functionalSelectors.css";

%centered {
  @extend %centerSelfHorizontal;

  min-inline-size: 60ch;
}

.root {
  display: flex;
  flex-flow: column nowrap;

  & > header {
    --text-1: var(--text-3);

    background-color: var(--brand);

    & > div {
      @extend %centered;

      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    & h1 {
      font-size: var(--font-size-4);
    }
  }

  & > main {
    @extend %centered;
  }

  & > nav:target + main {
    @extend %srOnly;
  }
}

.navMenuButton {
  &::after {
    content: "\2630";
    font-size: 2rem;
  }

  & + nav {
    @extend %centered;

    position: absolute;
    inset-block-start: 0;
    background-color: var(--brand);
    padding-block: 5rem;
    inline-size: 100%;

    & > ul {
      @extend %resetList;
    }
  }

  &:not(:focus) + nav {
    @extend %srOnly;
  }
}
